@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    font-family: 'Roboto Mono', monospace;
  }
  @supports (font-variation-settings: "wght" 300){
    h2, h3, p{
      font-family: 'Roboto Mono', monospace;
      font-weight: 300;
    }
  }
  @supports (font-variation-settings: "wght" 700){
    h1{
      font-family: monospace;
      font-weight: 700;
    }
  }
}

@layer components {
  .inputStyle{
    @apply w-full bg-input py-3 indent-4 rounded-lg border-b-2 border-transparent focus:outline-none focus:border-red-300 transition-colors duration-500;
  }
}

@layer utilities {
  .landingAspectRatio{
    height: 100%;
  }
  .HeroImageMobileWidth{
    width: calc(100% - 10px);
  }
  .responsiveGrid{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
  .AspectRatioCard{
    aspect-ratio: 1/1;
  }
  .mapSectionWidth{
    width: 600px;
  }
}